@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0px;
    padding: 0px;
    user-select: none;
    transition: .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.border {
  border: 1px solid black;
}
.disableScroll::-webkit-scrollbar {
  display: none;
}
button:hover{
  opacity: .9;
}